<!doctype html>
<html>
<head>
  <title>Welcome to Online Calculator</title>
</head>
<label for="name">Your name:</label>
<input type="text" id="name" placeholder="John Smith">

<label for="email">Your email:</label>
<input type="email" id="email" placeholder="john@smugglers.sexy">



<input type="checkbox" id="terms">
<label for="terms">You agree to our not evil terms of service</label>

<h2><a href = /online_calculator/home>Next</a></h2>
