<!-- first page  -->

<h1> Welcome to the movie search</h1>

<form action="/search" method="GET">
	<input type= "text" name= "movie_search">
	<button name= "search" type= "submit" value= "search">Search</button>
</form>