    <% content_for :head do %>
    <%= javascript_include_tag "bootstrap-dropdown-checkbox" %>
    <%= javascript_include_tag "checkbox_related" %>


<% end %>
<div class="container">
	<div class="title-box">
		<h1>Welcome to funTrip,</h1>
		<h1>we make your trip Funtastic!!</h1>
	</div>
	<div class="jumbotron">
		<div class="container-wrapper">

			<input type="text" class="start-point form-control geocomplete" id="formGroupExampleInput" placeholder="From">

	
			<input type="text" class="end-point form-control geocomplete" id="formGroupExampleInput2" placeholder="To">
		
			<div class="wish-list-container">
				<select class="radius-index" id="radius-selector">
					<option value="2"> 2 mi radius</option>
					<option value="5">5 mi radius</option>
          <option value="15">+5 mi radius</option>
        </select>
      </div>

      <div class="travel-mode-container">
        <select id="mode">
          <option value="DRIVING">Driving</option>
          <option value="WALKING">Walking</option>
          <option value="BICYCLING">Bicycling</option>
          <option value="TRANSIT">Transit</option>
        </select>
      </div>



				<div class="myDropdownCheckbox" id="index-dropdown"></div>


			<div>
				<button type="button" class="fun-button btn btn-success" id="index-button">Show my options</button>
			</div>
		</div>
	</div>
  </div>
		<div class="footer">
			<p>© FunTrip, Inc. 2015. Superpowered by Google Maps.</p>
			<div class="bottom-menu">
				<a href="#">ABOUT</a> |
				<a href="#">HELP</a> |
				<a href="#">CONTACT</a> |
				<a href="#">TERMS OF USE</a>
			</div>
		</div>
