<% content_for :head do %>
<%= javascript_include_tag "bootstrap-dropdown-checkbox" %>
<%= javascript_include_tag "checkbox_related" %>

<% end %>
<div class="container">
	<div class="title-box">
		<h1>Welcome to funTrip,</h1>
		<h1>we make your trip Funtastic!!</h1>
	</div>
	<div class="jumbotron">
		<div class="container-wrapper">
			<input type="text" class="start-point form-control" id="formGroupExampleInput" placeholder="Start Point">

	
			<input type="text" class="end-point form-control" id="formGroupExampleInput2" placeholder="End Point">
		
			<div class="wish-list-container">


				<select required name="radius" id="radius-selector">
					<option class="placeholder" selected disabled value="">radius</option>
					<option value="5">5 miles</option>
					<option value="10">10 miles</option>
					<option value="+15">+15 miles</option>
				</select>
				<div class="myDropdownCheckbox"></div>
			</div>
			
			<div>
				<button type="button" class="fun-button btn btn-success">Show my options</button>
			</div>
		</div>
	</div>
</div>